[core]
	editor = vim
[rebase]
	autoSquash = true
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[alias]
	st = status
	p = push
	pf = push --force
	l = log
	lf = log --format=fuller
	l1 = log --oneline
	c = commit
	d = diff
	dc = diff --cached
	a = add
	f = fetch
	lo = log origin/master
	rtom = reset --hard origin/master
	sh = stash
	r = rebase
	mo = merge origin/master
	rf = reflog
	b = branch
	ba = branch -a
	cf = config
	rt = reset
	rc1 = rebase HEAD~ --committer-date-is-author-date
	ck = checkout
[status]
	submodulesummary = 1
