[core]
	editor = vim
[rebase]
	autoSquash = true
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[alias]
	st = status
	p = push
	pf = push --force
	l = log
	lf = log --format=fuller
	l1 = log --oneline
	c = commit
	d = diff
	a = add
	f = fetch
	lo = log origin/master
	rom = reset --hard origin/master
	sh = stash
	r = rebase
	mo = merge origin/master
[status]
	submodulesummary = 1
