[core]
	editor = vim
[alias]
	st = status
	cdate-adate = rebase HEAD~1 --committer-date-is-author-date
	p = push
	l = log
	lf = log --format=fuller
	l1 = log --oneline
	c = commit
	d = diff
	a = add
	f = fetch
	lo = log origin/master
	rom = reset --hard origin/master
	s = stash
	r = rebase
